appdirs==1.4.4
appnope
asttokens
attrs==25.3.0
beautifulsoup4==4.13.4
bioservices==1.12.1
cattrs==25.1.1
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
colorlog==6.9.0
comm
contourpy==1.3.2
cycler==0.12.1
debugpy
decorator
easydev==0.13.3
exceptiongroup
executing
fonttools==4.58.2
gevent==25.5.1
greenlet==3.2.3
grequests==0.7.0
idna==3.10
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
jedi
joblib==1.5.1
jupyter_client
jupyter_core
kiwisolver==1.4.8
line_profiler==4.2.0
lxml==5.4.0
markdown-it-py==3.0.0
matplotlib==3.10.3
matplotlib-inline
mdurl==0.1.2
nest_asyncio
numpy==2.3.0
packaging
pandas==2.3.0
parso
pexpect
pickleshare
pillow==11.2.1
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyparsing==3.2.3
python-dateutil
pytz==2025.2
pyzmq
requests==2.32.4
requests-cache==1.2.1
rich==14.0.0
rich-click==1.8.9
scikit-learn==1.7.0
scipy==1.15.3
six
soupsieve==2.7
stack_data
suds-community==1.2.0
threadpoolctl==3.6.0
tornado
tqdm==4.67.1
traitlets
typing_extensions
tzdata==2025.2
url-normalize==2.2.1
urllib3==2.4.0
wcwidth
wrapt==1.17.2
xmltodict==0.14.2
zipp
zope.event==5.0
zope.interface==7.2
